<!DOCTYPE HTML>
<html lang="en">

<head>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link   type="text/css"        href="/css/Jeopardy.css" rel="stylesheet">
    <link   type="text/css"        href="/css/JeopardyHost.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/questions.js"></script>
    <script type="text/javascript" src="/js/JeopardyHost.js"></script>
</head>

<body onload="loadBoard()">
    <div class="mainContainer">
        <div class="scoreContainer">
            <div id="users">
                <!-- This will house the users' name and scores -->
            </div>
            <div class="bottom">
                <!-- This will house the management buttons -->
                <div>
                    <div>
                        <input id="customAmountText" type="text" placeholder="Custom Amount" />
                    </div>
                </div>
            </div>
        </div>
        <div id="boardContainer">
            <div id="tableContainer">
                <table id="board1">
                    <thead>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table id="board2" class="hidden">
                    <thead>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div id="dd" class="question hidden">
                    <!-- This will show if you get a daily double -->
                </div>
                <div id="question" class="question hidden">
                    <!-- This will be populated by the question/ answer & control buttons -->
                </div>
                <div id="history" class="hidden">
                    <textarea id="historyTA">
                        <!-- This will be populated when the history button is clicked -->
                    </textarea>
                </div>

                <div id="controls">
                    <button onclick="clearBoard()">Reset Board</button>
                    <button onclick="resetScores()">Reset Scores</button>
                    <button id="histButton" style="width: 95px;" onclick="showHistory()">Show History</button>
                    <button id="boardSwapButton" onclick="swapBoard()">Show Board 2</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
